/* ────────────────────────────────────────────────────── */
/* colors‑sg palette for Waybar (populated via envsubst) */
/* ────────────────────────────────────────────────────── */

/* special */
@define-color fg       ${CS_FG};
@define-color bg       ${CS_BG};
@define-color cursor   ${CS_FG};

/* normal */
@define-color black    ${CS_BLACK};
@define-color red      ${CS_RED};
@define-color green    ${CS_GREEN};
@define-color yellow   ${CS_YELLOW};
@define-color blue     ${CS_BLUE};
@define-color magenta  ${CS_MAGENTA};
@define-color cyan     ${CS_CYAN};
@define-color white    ${CS_WHITE};

/* bright variants (_br) */
@define-color black-br ${CS_BLACK_BR};
@define-color red-br   ${CS_RED_BR};
@define-color green-br ${CS_GREEN_BR};
@define-color yellow-br ${CS_YELLOW_BR};
@define-color blue-br  ${CS_BLUE_BR};
@define-color magenta-br ${CS_MAGENTA_BR};
@define-color cyan-br  ${CS_CYAN_BR};
@define-color white-br ${CS_WHITE_BR};

/* alias for border or divider */
@define-color bd0       ${CS_BORDER0};
@define-color bd1       ${CS_BORDER1};

/* opacities */

/* -----------------------------------------------------
 * General
 * ----------------------------------------------------- */

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Noto nerd font;
    font-size: 11pt;
    border: 0;
    border-radius: 0px;
}

window#waybar {
    background-color: @bg;
    color: @fg;
    transition-property: background-color;
    transition-duration: 2s;
    border: ${BDTHK}px solid transparent;
    /* border: ${BDTHK}px solid @bg; */
    border-radius: 0 0 ${BDRAD}px ${BDRAD}px;
}

button {
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background-color: @red;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: @yellow;
    color: @bg;
}

/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */

#workspaces {
		border-radius:	0 0 ${BDRAD}px ${BDRAD}px;
}

#workspaces button {
		font-family: "Courier New";
		color: @fg;
	    padding: 0 10pt 0 8pt;
	    transition: all 0.2s ease-in-out;
	    background-color: transparent;
}

#workspaces button.active {
    	background-color: @white;
}

#workspaces button:hover {
		background: @black-br;
}

#workspaces button:first-child{
		font-family: "Courier New";
		padding: 0 8pt 0 10pt;
		border-radius: 0 0 0 8px;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}


/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
    background:     transparent;
    border:         ${BDTHK}px solid transparent;
    border-radius:  ${BDRAD}px;
    color:          @fg;
	font-family:	'Courier New';
    font-size:      11pt;
    font-weight: normal;
    opacity: ${CS_OPAC1};
    padding: 0 10px;
}


window#waybar.empty #window {
    background-color:transparent;
}



/* -----------------------------------------------------
 * Taskbar
 * ----------------------------------------------------- */

#taskbar {
    background: @backgroundlight;
    margin: 3px 15px 3px 0px;
    padding:0px;
    border-radius: 15px;
    font-weight: normal;
    font-style: normal;
    opacity: ${CS_OPAC1};
    border: 3px solid @backgroundlight;
}

#taskbar button {
    margin:0;
    border-radius: 15px;
    padding: 0px 5px 0px 5px;
}

#taskbar.empty {
    background:transparent;
    border:0;
    padding:0;
    margin:0;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

/* if you want a little spacing between modules */
#modules-left .module,
#modules-center .module,
#modules-right .module {
    margin: 0;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0px 10px;
    color: @fg;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

#pulseaudio,#temperature,#disk,#memory,#cpu,#language,#backlight,#network {
    margin:0px 4px;
    padding:0px;
    font-size: 10pt;
}


/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
    padding: 0 12px;
}

#battery.charging {}
#battery.full {
    background-color: @bd0;
}

@keyframes blink {
    to {
        color: rgba(0, 0, 0, 0);
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    color: @fg;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
}

#power-profiles-daemon.performance {
}

#power-profiles-daemon.balanced {
}

#power-profiles-daemon.power-saver {
}

label:focus {
}

#clock {
    font-weight:    bold;
    font-size:      11pt;
}
#cpu {
}

#memory {
}

#disk {
}

#backlight {
}

#network {
    border-left: ${BDTHK}px solid @bd0;
    padding-left: 6pt;
}

#network.disconnected {
}

#pulseaudio {
}

#pulseaudio.muted {
}

#wireplumber {
}

#wireplumber.muted {
}

#custom-media {
}

#custom-media.custom-spotify {
}

#custom-media.custom-vlc {
}

#custom-power {
    font-weight: bold;
    font-size: 12pt;
}
#temperature {
}

#temperature.critical {
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
    color: #2d3436;
}

#mpd {
    color: #2a5c45;
}

#mpd.disconnected {
}

#mpd.stopped {
}

#mpd.paused {
}

#language {
}

#keyboard-state {
}

#keyboard-state > label {
}

#keyboard-state > label.locked {
}

#scratchpad {
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
}

#privacy-item {
}

#privacy-item.screenshare {
}

#privacy-item.audio-in {
}

#privacy-item.audio-out {
}
