window {
border: ${BDTHK}px solid ${BORDER1};
border-radius: ${BDRAD}px;
background-color: ${BG};
opacity: 1;
font-family: NotoSans Nerd Font;
}

#input {
margin: ${MGN_IN}px;
min-height: ${BARHT};
border: none;
border-radius: ${BDRAD}px;
color: ${FG};
background-color: ${BLACK_BR};
outline: none;
}

#inner-box {
margin: ${MGN_IN}px;
border: none;
border-radius: ${BDRAD}px;
background-color: transparent;
}

#outer-box {
margin: ${MGN_IN}px;
border: none;
border-radius: ${BDRAD}px;
background-color: transparent;
}

#text {
margin: ${MGN_IN}px;
border: none;
border-radius: ${BDRAD}px;
color: ${FG};
} 

#entry:selected {
background-color: ${BLACK_BR};
border-radius: ${BDRAD}px;
outline: none;
}
