shell /bin/zsh
font_family Iosevka Nerd Font
font_size 11.0

font_features f_liga=1

# ─── Colors ──────────────────────────────────────────────────────────
# Background and Foreground
background $BG
foreground $FG

# Normal colors
color0 $BG
color1 $RED
color2 $GREEN
color3 $YELLOW
color4 $BLUE
color5 $MAGENTA
color6 $CYAN
color7 $WHITE

# Bright colors
color8 $BLACK_BR
color9 $RED_BR
color10 $GREEN_BR
color11 $YELLOW_BR
color12 $BLUE_BR
color13 $MAGENTA_BR
color14 $CYAN_BR
color15 $WHITE_BR

# ─── Additional Configurations ──────────────────────────────────────
# Set the cursor color (optional)
cursor $CURSOR

# Border settings (optional)
# border_width $BDTHK
# border_color $BORDER0

tab_bar_edge bottom
tab_bar_min_tabs 1
tab_bar_style powerline
tab_powerline_style round
tab_activity_symbol ◉
tab_title_template "{fmt.fg.red}{bell_symbol}{activity_symbol}{fmt.fg.tab}{index}{'(%d)'%num_windows if num_windows > 1 else ''}: {(title.replace('seonggyun@arch:', '')[:6]+'…'+title.replace('seonggyun@arch:', '')[-6:]) if title.replace('seonggyun@arch:', '').rindex(title.replace('seonggyun@arch:', '')[-1]) + 1 > 13 else title.replace('seonggyun@arch:', '')}"
active_tab_title_template "{fmt.fg.red}{bell_symbol}{activity_symbol}{fmt.fg.tab}[{fmt.bold}{layout_name[:2].upper()}:{index}{fmt.nobold}]{'(%d)'%num_windows if num_windows > 1 else ''}: {(title[:6+(15 if title.startswith('seonggyun@arch:') else 0)]+'…'+title[-6:]) if title.rindex(title[-1]) + 1 > (13+(15 if title.startswith("seonggyun@arch:") else 0)) else title}"

window_padding_width 2
map kitty_mod+r set_tab_title

neofetch
