# use zsh login, then run tmux (attach/create "main" and run neofetch)
shell zsh --login -c "tmux new-session -A -s main 'neofetch; exec zsh'"



# ─── Colors ──────────────────────────────────────────────────────────
# Background and Foreground
background $BG
foreground $FG

# Normal colors
color0 $BLACK
color1 $RED
color2 $GREEN
color3 $YELLOW
color4 $BLUE
color5 $MAGENTA
color6 $CYAN
color7 $WHITE

# Bright colors
color8 $BLACK_BR
color9 $RED_BR
color10 $GREEN_BR
color11 $YELLOW_BR
color12 $BLUE_BR
color13 $MAGENTA_BR
color14 $CYAN_BR
color15 $WHITE_BR

# ─── Additional Configurations ──────────────────────────────────────
# Set the cursor color (optional)
cursor $CURSOR

# Border settings (optional)
# border_width $BDTHK
# border_color $BORDER0

window_padding_width 4
map kitty_mod+r set_tab_title
